{% extends "layouts/layout_tool.html" %}

{% block pageTitle %}
Finished for now

{% endblock %}

{% block content %}

<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
  <h1 class="govuk-heading-xl">
    This is as far as we can go
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" style="padding-bottom: 2em">
      <p>We don't know what happen after this step as we don't have a valid number to see what the form look like after this.</p>
      <a class="govuk-!-padding-left-5 govuk-!-padding-right-5 govuk-body button-primary govuk-button" href="/forms/end-feedback">Next</a>
    </div>
  </div>

</div> 

{% endblock %}