{% extends "layouts/main.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/SG/sss.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
    {% block stylesheets %}
    {% include "govuk-prototype-kit/includes/stylesheets.html" %}
    <link href="/public/stylesheets/sg.css" media="all" rel="stylesheet" type="text/css" />
        {% for stylesheetUrl in extensionConfig.stylesheets %}
        <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
        {% endfor %}  
    {% endblock %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__content">
      <a href="/index.html">
        <span class="sss-tagline">
          This is a training website
        </span>
      </a>  
    </div>
</div>
{% endblock %}

{% block pageTitle %}
  Feeback
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body">
        <h1 style="color: #606060; font-size: 33px; font-family: 'Open Sans', sans-serif; font-weight: 400;">Social Security Scotland | Report a problem with this online form </h1>
        <p style="color: #505050; font-size:14px">The purpose of this is to gather information about any problems with the online application form.</p>
        <p style="color: #505050;font-size:14px">Please do NOT enter any of your personal details in the comments box below. You will not receive a reply. If you need help use the 'contact us' link. Your feedback will only be used to improve the quality of our service.</p>
        <hr style="color: #808080; margin: 20px 0">
      </div>


      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="more-detail" style="font-size: 14px">
          <strong>Please tell us more about the problem you experienced so that we can look into it</strong>
          </label>
        </h1>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

      {{ govukButton({
        text: "Send",
        classes: "button-primary",
        href: "/forms/sss-forms/feedback-sent.html"
      }) }}
    </div>
  </div>


{% endblock %}

{% block footer %}
{% endblock %}