
{% extends "layouts/layout_tool.html" %}

{% block pageTitle %}
  Data - Digital skills tool
{% endblock %}


{% block content %}

  <div class="govuk-grid-row" >
    <div class="govuk-grid-column-full" style="border: solid 10px #008062; padding: 0;">

      <h1 class="govuk-heading-xl heading-title govuk-!-font-size-48">
          Improving digital skills
      </h1>
  
  <div style="margin-left: 20px">
  <h2 class="govuk-heading-m" style="font-weight:800; font-size:1.8rem">The team</h2>

  <p style="margin-left: 40px">
    <image src="{{ asset_path }}/images/infographic/jumana.jpeg"  width="100" height="100" style="vertical-align:middle; border-radius: 100%" ></image>
    <image src="{{ asset_path }}/images/infographic/steph.png"  width="100" height="100" style="vertical-align:middle;border-radius: 100%" ></image>
    <span style="font-size: 48px; padding: 50px 20px 20px 20px">+</span>
    <image src="{{ asset_path }}/images/infographic/anastasia.jpeg"  width="100" height="100" style="vertical-align:middle; border-radius: 100%" ></image>
    <image src="{{ asset_path }}/images/infographic/alex.jpeg"  width="100" height="100" style="vertical-align:middle;  border-radius: 100%" ></image>
    <image src="{{ asset_path }}/images/infographic/ashir.jpeg"  width="100" height="100" style="vertical-align:middle; border-radius: 100%" ></image>
    <image src="{{ asset_path }}/images/infographic/craig.jpeg"  width="100" height="100" style="vertical-align:middle;  border-radius: 100%" ></image>
    <image src="{{ asset_path }}/images/infographic/paul.jpeg"  width="100" height="100" style="vertical-align:middle;  border-radius: 100%" ></image>
  </p>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m" style="font-weight:800; font-size:1.8rem">Work done in 5 months</h2>
      <p style="font-weight:700; font-size: 1.4rem; color: #b10e1e">400+ pages re-created</p>
      <p style="font-weight:700; font-size: 1.2rem;"><image src="{{ asset_path }}/images/erc.ico"  width="40" height="40" style="vertical-align:middle; " ></image>
        9 Council forms</p>
      <p style="font-weight:700; font-size: 1.2rem;"><image src="{{ asset_path }}/images/infographic/govuk.png"  width="30" height="30" style="vertical-align:middle; padding-right:10px " ></image>
        6 GOV.UK forms</p>
      <p style="font-weight:700; font-size: 1.2rem;"><image src="{{ asset_path }}/images/infographic/sss.jpeg"  width="30" height="30" style="vertical-align:middle; padding-right:10px " ></image>
      1 Social Security Scotland  form</p>
    <p style="font-weight:700; font-size: 1.2rem;"><image src="{{ asset_path }}/images/PA/favicon.ico"  width="30" height="30" style="vertical-align:middle; padding-right:10px " ></image>
      
    2 Other forms:</p>
    <p style="font-weight:700; font-size: 1.2rem;">
      <image src="{{ asset_path }}/images/infographic/bulb.png"  width="30" height="30" style="vertical-align:middle; padding-right:10px " ></image>
  (Bulb and Patient Access)</p>
      <!--table class="govuk-table" style="margin-bottom: 15px">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="font-weight:700; font-size: 1.4rem;border-bottom: 0px solid #b1b4b6; color: #b10e1e">400+ pages re-created</td>
       
          </tr>
        </tbody>
      </table>
        <table class="govuk-table">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="font-weight:700; font-size: 1.2rem; border-bottom: 0px solid #b1b4b6;width: 95px">17 forms</td>
              <td class="govuk-table__cell" style="border-bottom: 0px solid #b1b4b6;"><span class="govuk-tag ready-tag">Ready</span></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="font-weight:700; font-size: 1.2rem; border-bottom: 0px solid #b1b4b6;width: 95px">1 form</td>
              <td class="govuk-table__cell" style="border-bottom: 0px solid #b1b4b6;"><span class="govuk-tag started-tag">to finish</span></td>
            </tr>
          </tbody>
        </table -->


      </div>
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m" style="font-weight:800;font-size:1.8rem">Ways of working</h2>
        <br>
        <p style="font-weight:700; font-size: 1.2rem;"><image src="{{ asset_path }}/images/infographic/skype.jpg"  width="30" height="30" style="vertical-align:middle; padding-right:10px " ></image>
          Meetings on Skype (with Jumana)</p>

        <p style="font-weight:700; font-size: 1.2rem;"><image src="{{ asset_path }}/images/infographic/zoom.png"  width="30" height="30" style="vertical-align:middle;padding-right:10px  " ></image>
          Call on Zoom with other volunteers</p>
      
        <p style="font-weight:700; font-size: 1.2rem;"><image src="{{ asset_path }}/images/infographic/linkedin.png"  width="27" height="27" style="vertical-align:middle; padding-right:10px " ></image>
          Chat on LinkedIn</p>
        <p style="font-weight:700; font-size: 1.2rem;"><image src="{{ asset_path }}/images/infographic/trello.png"  width="27" height="27" style="vertical-align:middle; padding-right:10px " ></image>
          Project planning on Trello</p>
        <p style="font-weight:700; font-size: 1.2rem;"><image src="{{ asset_path }}/images/infographic/github-icon.png"  width="27" height="27" style="vertical-align:middle; padding-right:10px " ></image>
          Code on Github</p>
      
          <p style="font-weight:700; font-size: 1.2rem;"><image src="{{ asset_path }}/images/infographic/heroku.png"  width="30" height="30" style="vertical-align:middle;padding-right:10px " ></image>App deployed with Heroku</p>
      </div>
    </div>
  </div>
    <p style="margin-bottom: 0; margin-top: 40px;"><image src="{{ asset_path }}/images/infographic/code.png"  width="100%" ></image></p>

    </div>
  </div>


{% endblock %}
